form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  > div.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin-bottom: 0.5em;
  }
}

input, label, textarea, select {
  display: flex;
}

label {
  padding-right: 0.25em;
  &.required:after {
    content: "*";
    color: #ce0000;
  }
}
