<aside class="menu side-bar">
	<p class="menu-label">Connections</p>
	<ul class="menu-list">
		<li *ngFor="let conn of connections$ | async" (contextmenu)="connContextMenu(conn)">
			<a>
				<span class="fa fa-caret-right"></span> {{conn.name}}
				<span *ngIf="connBusy(conn)" class="fa fa-spinner fa-pulse fa-fw"></span>
			</a>
		</li>
	</ul>
</aside>
<div class="body-content">
	<sa-tabs>
		<sa-tab title={{conn.name}} *ngFor="let conn of connections$ | async">
			<div class="columns">
				<div class="column is-half is-offset-one-quarter">
					<sa-connection-form *ngIf="isNew(conn)" [conn]="conn" (onSubmit)="submit($event)"></sa-connection-form>
				</div>
			</div>
		</sa-tab>
	</sa-tabs>
</div>
<footer>
	<span>Status Bar</span>
</footer>
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
