@import '../core/style/variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  div.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    div.title {
      flex: 0 0 $header-height;
      display: flex;
      background-color: #808080;
      color: #fff;
      align-items: center;
      align-content: center;
    }
    div.body {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      padding: 3px;
    }
  }
}
