/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(assets/fonts/Roboto-Medium.woff2) format('woff2');
}
@import './app/styles/variables';
@import '../node_modules/bulma/bulma';

html, body {
  height: 100vh;
  overflow: hidden;
}

div.body-content {
  position: absolute;
  top: 0;
  bottom: $footer-height;
  left: $side-bar-width;
  right: 0;
}

.side-bar {
  position: absolute;
  width: $side-bar-width;
  left: 0;
  top: 0;
  bottom: $footer-height;
  overflow: auto;
}

.tabs {
  ul {
    margin: 0;
    &:first-child a {
      border-left-width: 0;
    }
  }
  &.is-boxed a {
    border-radius: 0;
    border-top-width: 0;
  }
}

.menu-label {
  height: 3.2em;
  background-color: $dark;
  color: $dark-invert;
  padding: 1em 0;
}

.side-bar {
  background-color: $grey-lighter;
}

.label.required:after {
  color: $red;
  content: '*';
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: $grey-dark;
  color: $white;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 2em;
}
