/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(assets/fonts/Roboto-Medium.woff2) format('woff2');
}

body {
  font-family: 'Roboto';
  font-size: 15px;
  margin: 0;
  padding: 0;
}
